<app-navbar></app-navbar>
<div class="row">
    <div class="col-9">
        <router-outlet #o="outlet"></router-outlet>
    </div>
    <div class="col-3">
        <router-outlet name="Dashboard"></router-outlet>
    </div>
</div>

<div>Icons made by <a href="https://br.flaticon.com/autores/smashicons" title="Smashicons">Smashicons</a> from <a
        href="https://br.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
<i class="flaticon-user-3"></i>
<i class="flaticon-2x flaticon-user-3"></i>
<i class="flaticon-3x flaticon-user-3"></i>
<i class="flaticon-4x flaticon-user-3"></i>
<i class="flaticon-5x flaticon-user-3"></i>
<i class="flaticon-6x flaticon-user-3"></i>
<i class="flaticon-7x flaticon-user-3"></i>