/* You can add global styles to this file, and also import other style files */
[class^="flaticon-2x"]:before,
[class*=" flaticon-2x"]:before,
[class^="flaticon-2x"]:after,
[class*=" flaticon-2x"]:after {
  font-family: Flaticon;
  font-size: 25px;
  font-style: normal;
  margin-left: 0px;
}

[class^="flaticon-3x"]:before,
[class*=" flaticon-3x"]:before,
[class^="flaticon-3x"]:after,
[class*=" flaticon-3x"]:after {
  font-family: Flaticon;
  font-size: 30px;
  font-style: normal;
  margin-left: 0px;
}

[class^="flaticon-4x"]:before,
[class*=" flaticon-4x"]:before,
[class^="flaticon-4x"]:after,
[class*=" flaticon-4x"]:after {
  font-family: Flaticon;
  font-size: 35px;
  font-style: normal;
  margin-left: 0px;
}

[class^="flaticon-5x"]:before,
[class*=" flaticon-5x"]:before,
[class^="flaticon-5x"]:after,
[class*=" flaticon-5x"]:after {
  font-family: Flaticon;
  font-size: 40px;
  font-style: normal;
  margin-left: 0px;
}

[class^="flaticon-6x"]:before,
[class*=" flaticon-6x"]:before,
[class^="flaticon-6x"]:after,
[class*=" flaticon-6x"]:after {
  font-family: Flaticon;
  font-size: 45px;
  font-style: normal;
  margin-left: 0px;
}

[class^="flaticon-7x"]:before,
[class*=" flaticon-7x"]:before,
[class^="flaticon-7x"]:after,
[class*=" flaticon-7x"]:after {
  font-family: Flaticon;
  font-size: 50px;
  font-style: normal;
  margin-left: 0px;
}

[class^="flaticon-8x"]:before,
[class*=" flaticon-8x"]:before,
[class^="flaticon-8x"]:after,
[class*=" flaticon-8x"]:after {
  font-family: Flaticon;
  font-size: 55px;
  font-style: normal;
  margin-left: 0px;
}

[class^="flaticon-9x"]:before,
[class*=" flaticon-9x"]:before,
[class^="flaticon-9x"]:after,
[class*=" flaticon-9x"]:after {
  font-family: Flaticon;
  font-size: 60px;
  font-style: normal;
  margin-left: 0px;
}
